.ghana {
    color: black;
  }
  
  .para {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding: 50px;
    width: 100%;
    background-image: url("https://bit.ly/2BGoOGI");
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
  }
  .form {
    margin: 100px auto;
    text-align: center;
    width: 200px;
  }
  .instru {
    text-align: center;
    margin: 20px;
  }
  .row {
    margin-bottom: 20px;
  }
  